#player {
	width: 576px;
	height: 576px;
	background-color: grey;
	float: left;
	border-style: solid;
    border-width: 1px;
}

#score {
	width: 750px;
	height: 574px;
	background-color: pink;
	float: left;
	border-style: solid;
    border-width: 2px;
}

.unrow {
	border-style: solid;
    border-width: 1px;
	width: 190px;
	height: 190px;
	
}


.row {
	float: left;
	border-style: solid;
    border-width: 1px;
	width: 190px;
	height: 190px;
}

#draw {
	font-size: 100px;
	background-color: green;
	float: right;
	width: 750px;
	text-align: center;
}

#rwin {
	font-size: 100px;
	background-color: red;
	float: right;
	width: 750px;
	text-align: center;
}

#bwin {
	font-size: 100px;
	background-color: blue;
	float: right;
	width: 750px;
	text-align: center;
}



.ppp {
	font-size: 100px;
	float: left;
	width: 375px;
}


h2 {
	text-align: center;
}

button {
	font-size: 50;
}